/*公共样式表*/
html{
	 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



/* 公用样式     start */


.shade_outer,.shade_outer_ajax {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.15s linear 0s;
    z-index: 19891030;
}

.shade_window {
    top: 50%;
	width: 6rem;
	border-radius: 0.175rem;
	padding-bottom: 0.6rem;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: fixed;
	z-index: 19891060;
	left: 50%;
	background: #fff;
	animation:shadeAnimation  0.2s  ; /* 0.15s */
	-moz-animation:shadeAnimation  0.2s  ;
	-webkit-animation:shadeAnimation  0.2s  ;
	-ms-animation:shadeAnimation  0.2s  ;
	-o-animation:shadeAnimation  0.2s  ;
}

.w_title, .w_content {
    line-height: 0.40rem;
    text-align: center;
   /*  height: 0.40rem; */
}

.w_title {
	font-size: 0.45rem;
    margin-top: 0.2rem;
}

.w_content {
    font-size: 0.35rem;
    padding: 0.4rem;
}

.shade_window .btn-wrap{
	margin-top:0.5rem;

	}


@-moz-keyframes shadeAnimation{
	   
	   from{ 
			 top:42%;
		 }
	   to{ 
		   top:50%;
		   
		}
 }
 
@-webkit-keyframes shadeAnimation{
	   
	   from{ 
			 top:42%;
		 }
	   to{ 
		   top:50%;
		   
		}
 }
 
@-o-keyframes shadeAnimation{
	   
	   from{ 
			 top:42%;
		 }
	   to{ 
		   top:50%;
		   
		}
 }
 
 @-moz-keyframes shadeAnimation{
	   
	   from{ 
			 top:42%;
		 }
	   to{ 
		   top:50%;
		   
		}
 }

/* <!-- 去掉jQuery Mobile 底部 loadin 样式 --> */
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0} 

/*公用样式--end */

.clearfix:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
 

.ctm-f-r{
	float:right;
}

.ctm-cursor-ptr{
	cursor:pointer;
	
}

.block{
  display: block;;
}

.inline-block{
  display: inline-block;
}

/* .ctm-cursor-none:focus,.ctm-cursor-none:hover{
	 
	
	
}
 */


.v-hidden{
	visibility: hidden;
}


.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.text-center{
	text-align:center;
}
.m-xxs {
  margin: 0.02rem 0.04rem;
}
.m-xs {
  margin: 0.05rem;
}
.m-sm {
  margin: 0.1rem;
}
.m {
  margin: 0.15rem;
}
.m-md {
  margin: 0.2rem;
}
.m-lg {
  margin: 0.3rem;
}
.m-xl {
  margin: 0.5rem;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 0.05rem;
}
.m-l-sm {
  margin-left: 0.10rem;
}
.m-l {
  margin-left: 0.15rem;
}
.m-l-md {
  margin-left: 0.20rem;
}
.m-l-lg {
  margin-left: 0.30rem;
}
.m-l-xl {
  margin-left: 0.40rem;
}
.m-l-n-xxs {
  margin-left: -0.01rem;
}
.m-l-n-xs {
  margin-left: -0.05rem;
}
.m-l-n-sm {
  margin-left: -0.10rem;
}
.m-l-n {
  margin-left: -0.15rem;
}
.m-l-n-md {
  margin-left: -0.20rem;
}
.m-l-n-lg {
  margin-left: -0.30rem;
}
.m-l-n-xl {
  margin-left: -0.40rem;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 0.01rem;
}
.m-t-xs {
  margin-top: 0.05rem;
}
.m-t-sm {
  margin-top: 0.10rem;
}
.m-t {
  margin-top: 0.15rem;
}
.m-t-md {
  margin-top: 0.20rem;
}
.m-t-lg {
  margin-top: 0.30rem;
}
.m-t-xl {
  margin-top: 0.40rem;
}
.m-t-xxl {
  margin-top: 0.50rem;
}
.m-t-xxxl {
  margin-top: 0.60rem;
}
.m-t-n-xxs {
  margin-top: -0.01rem;
}
.m-t-n-xs {
  margin-top: -0.05rem;
}
.m-t-n-sm {
  margin-top: -0.10rem;
}
.m-t-n {
  margin-top: -0.15rem;
}
.m-t-n-md {
  margin-top: -0.20rem;
}
.m-t-n-lg {
  margin-top: -0.30rem;
}
.m-t-n-xl {
  margin-top: -0.40rem;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 0.01rem;
}
.m-r-xs {
  margin-right: 0.05rem;
}
.m-r-sm {
  margin-right: 0.10rem;
}
.m-r {
  margin-right: 0.15rem;
}
.m-r-md {
  margin-right: 0.20rem;
}
.m-r-lg {
  margin-right: 0.30rem;
}
.m-r-xl {
  margin-right: 0.40rem;
}
.m-r-n-xxs {
  margin-right: -0.01rem;
}
.m-r-n-xs {
  margin-right: -0.05rem;
}
.m-r-n-sm {
  margin-right: -0.10rem;
}
.m-r-n {
  margin-right: -0.15rem;
}
.m-r-n-md {
  margin-right: -0.20rem;
}
.m-r-n-lg {
  margin-right: -0.30rem;
}
.m-r-n-xl {
  margin-right: -0.40rem;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 0.01rem;
}
.m-b-xs {
  margin-bottom: 0.05rem;
}
.m-b-sm {
  margin-bottom: 0.10rem;
}
.m-b {
  margin-bottom: 0.15rem;
}
.m-b-md {
  margin-bottom: 0.20rem;
}
.m-b-lg {
  margin-bottom: 0.30rem;
}
.m-b-xl {
  margin-bottom: 0.40rem;
}
.m-b-n-xxs {
  margin-bottom: -0.01rem;
}
.m-b-n-xs {
  margin-bottom: -0.05rem;
}
.m-b-n-sm {
  margin-bottom: -0.10rem;
}
.m-b-n {
  margin-bottom: -0.15rem;
}
.m-b-n-md {
  margin-bottom: -0.20rem;
}
.m-b-n-lg {
  margin-bottom: -0.30rem;
}
.m-b-n-xl {
  margin-bottom: -0.40rem;
}
.space-15 {
  margin: 0.15rem 0;
}
.space-20 {
  margin: 0.20rem 0;
}
.space-25 {
  margin: 0.25rem 0;
}
.space-30 {
  margin: 0.30rem 0;
}

.p-none{
	padding:0;
}

.p-t{
	padding-top:0.15rem;
}

.p-t-sm{
	padding-top:0.10rem;
}
.p-t-md{
	padding-top:0.20rem;
}

.p-l-z{
  padding-left: 0;
}

.p-l-sm {
  padding-left: 0.10rem;
}

.p-l{
	padding-left:0.15rem;
}

.p-l-md{
	padding-left:0.2rem;
}

.p-l-lg{
  padding-left: 0.3rem;
}

.p-r-lg{
  padding-right: 0.3rem;
}

.ctm-col-6 {
	width:50%;
}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}



.ctm-container{
	padding-left: 0.15rem;
  padding-right: 0.15rem;
	
}

.ctm-row{
	margin-left: -0.15rem;
  margin-right: -0.15rem;
	
}

.ctm-row::after{
  content:" ";
  display:table;
  clear:both;
}

 .ctm-row .custom-col-l,.custom-col-l{
   position: relative;
   width:60%;
   float:left;
 }
 
  .ctm-row .custom-col-r,.custom-col-r{
   position: relative;
   width:40%;
   float:right;
 }
 
 
 .ctm-row .custom-col-1,.custom-col-1,
 .ctm-row .custom-col-2,.custom-col-2,
 .ctm-row .custom-col-3,.custom-col-3,
 .ctm-row .custom-col-4,.custom-col-4,
 .ctm-row .custom-col-5,.custom-col-5,
 .ctm-row .custom-col-6,.custom-col-6,
 .ctm-row .custom-col-7,.custom-col-7,
 .ctm-row .custom-col-8,.custom-col-8,
 .ctm-row .custom-col-9,.custom-col-9,
 .ctm-row .custom-col-10,.custom-col-10{
	   position: relative;
	   float:left;
	   min-height: 0.1rem;
	   padding-left: 0.15rem;
	   padding-right: 0.15rem;
  }
 


 .ctm-row .custom-col-1,.custom-col-1{
   width:10%;
 }

  .ctm-row .custom-col-2,.custom-col-2{
   width:20%;
 }

.ctm-row .custom-col-3,.custom-col-3{
   width:30%;
 }



.ctm-row .custom-col-4,.custom-col-4{
   width:40%;
 }

.ctm-row .custom-col-5,.custom-col-5{
   width:50%;
 }

  .ctm-row .custom-col-6,.custom-col-6{
   width:60%;
 }
   .ctm-row .custom-col-7,.custom-col-7{
   width:70%;
 }
   .ctm-row .custom-col-8,.custom-col-8{
   width:80%;
 }
   .ctm-row .custom-col-9,.custom-col-9{
   width:90%;
 }
 
 .ctm-row .custom-col-10,.custom-col-10{
   width:100%;
 }




/* .ctm-img-wrapper{
	padding-top: 30px;
    text-align: center;
    width: 100%;
} */

/* 图文区*/
.ctm-img-wrapper{
	  padding-top: 0.6rem;
    width: 100%;
}

.ctm-img-wrapper .img-title{
   font-size: 0.32rem;
}
.ctm-img-wrapper .img-info{
   font-size: 0.3rem;
}




.ctm-overflow-hidden{
	overflow:hidden;
}

.ctm-b-btm{
  border-bottom: 1px solid #ddd;
}


/* 水平-左 */
.ctm-hor-l{
	display: inline-block;
    float: left;
    width: 50%;
	
}

/* 水平-右 */
.ctm-hor-r {
    display: inline-block;
    width: 50%;
}



/* 错误提示 */
.tips_main {
	position: fixed;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99;
}

.tips_main p {
	margin: 0.25rem;
	color: #fff;
	word-break: break-all;
}