 
.ctm-white-bgc{
	background-color: rgba(255, 255, 255, 1);
}
	
/* header导航 */
.ctm-icon-txt-r{
	/* background-image: none;
    right: 0.32rem;
    left:auto;
    width: 0.19rem;
    height: 0.35rem; */
   
}	

.ctm-icon-txt{
	color: #fff;
    font-size: 0.26rem;
    line-height: 0.5rem;
    position: relative;
    right: 5%;
	
}

/*---------------自定义导航栏----------- start*/
/*using:
	<header class="ctm-header ctm-header-default">
		<a href="javascript:history.go(-1);" class="nav-left-icon"> <em></em>
		</a> 
		<a href="withdraw_cash" class="nav-right-icon"> <span>确认</span>
		</a>  
		<h1 class="ctm-header-title">征信验证</h1>
	</header>
  */
.ctm-header-default {
    background-color: #fd6f19;
    color:#fff;
}

.ctm-header-white {
    background-color: #fff;
    color:#fe6f1a;
}

.ctm-header-gray {
    background-color: #fafafa;
    color:#fe6f1a;
}

.ctm-header-bottleGreen {
    background-color: #54afa0;
    color:#fff;
}

.ctm-header {
    display: block;
    height: 0.86rem;
    line-height: 0.86rem;
    position: relative;
    width: 100%;
    z-index:88;
}



.ctm-header .nav-left-icon,.ctm-header .nav-right-icon{

    display: inline-block;
    position: absolute;    
    color: #fe6f1a;   
}

.ctm-header .nav-left-icon {
    width: 0.86rem;
    height: 0.86rem;
    left: 0;
    padding-left: 0.2rem;
}

.ctm-header .nav-right-icon {

    width: 1.8rem;
    height: 0.86rem;
    padding-right: 0.2rem;
    right: 0;
    font-size: 0.3rem; 
    text-align: right;  
}

.ctm-header .nav-left-icon em {
    background-image: url("../images/main/back@2x.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 0.42rem;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    width: 0.2rem;
}

.ctm-header-default .nav-left-icon em{
	background-image: url("../images/back@3x.png"); 
}

.ctm-header-default .nav-right-icon{
	color:#fff;
}
 

.ctm-header .ctm-header-title {
    /* color: #fe6f1a; */
    display: block;
    font-size: 0.36rem;
    line-height:0.86rem;
    font-weight: 500;
    margin: 0 30%;
    overflow: hidden;
    overflow-wrap: normal;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
}

/*--------------------自定义导航栏 --------- end*/	


	
.ctm-ft{
	padding-left: 0.36rem;
	text-align:left;
}

 


 




 
 




.custom-btn.disabled,
.custom-btn.disabled:hover,
.custom-btn.disabled:focus,
.custom-btn.disabled:active,
.custom-btn.disabled.active,
.custom-btn[disabled],
.custom-btn[disabled]:hover,
.custom-btn[disabled]:focus,
.custom-btn[disabled]:active,
.custom-btn.active[disabled] {
  background-color: #e4ebee;
  border-color: #e4ebee;
}


 

 









/* ---------------------自定义公共样式 start------------------------- */



.ctm-icon1{
	background: rgba(0, 0, 0, 0) url("../images/j_rt@3x.png") no-repeat scroll center center / 0.14rem auto;
    display: inline-block;
    height: 100%;
    position: relative;
    vertical-align: middle;
    width: 0.21rem;
   
     
}

.ctm-box-shadow-none,.btn.ctm-box-shadow-none{
	box-shadow:none;
	
}

.ctm-box-shadow,.btn-orange-plane, .btn-orange-circle.ctm-box-shadow{
	box-shadow:0 2px 2px rgba(0,0,0,0.2);
}





/*弹框内部样式*/


.custom-code-wrapper *{
	 
	box-sizing:border-box !important;
	
}
.custom-code-wrapper{
	 /* margin-bottom: 15px; */
	
}

.custom-code-wrapper .lead{
	color: #2e2e4a;
    font-size: 0.28rem;
    line-height: 0.4rem;
}

.custom-code-wrapper .c_orange{
	color: #fa6e28;
    
}

.wrpBorder{
   
   border: 0.05rem solid rgba(255, 165, 0, 1);
    border-radius: 0.1rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0.1rem;
 }
 
 
.custom-code-wrapper .codeBorder {
   border-left: 0.03rem solid rgba(255, 165, 0, 1);
    height: 0.7rem;
    left: 0;
    opacity: 0.7;
    position: absolute;
   
}


.custom-form-control {
    
    border: 0 none;
    border-radius: 0.04rem;
    color: #555;
    display: block;
    font-size: 0.28rem;
    height: 0.8rem;
    line-height: 1.42857;
    padding: 0.04rem 0.12rem 0.06rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}




/*按钮*/
.custom-btn{
	height: 0.77rem;
    line-height: 0.2rem;
    width: 70%;
  /*   box-shadow:none; */
    background-color: #b9b9b9;
	
}

.custom-btn:hover,.custom-btn:focus{
 	background-color: #ddd;
    color: #fa6e28;}
    
/* .btn-orange.custom-btn-hfnone:hover,.btn-orange.custom-btn-hfnone:focus{
 	background-color: #ccc;
    color: #999;}
     */
    
.btn-orange{
	color:#fff;
	background-color:#fa6e28;
	
}



.btn-orange:hover,.btn-orange:focus{
 	background-color: #ea6e00;
    color:#fff;	
     }
    
 .catch{
 	/* color:#767676; */
 	color: #767676;
    font-size: 0.28rem;
    line-height: 0.8rem;
 }
 
 
 
 

a.ctm-link:hover,
a.ctm-link:focus {
 /*  color: #34495e;
  text-decoration: none; */
  background-color:#fff;
  border:none;
   text-decoration: none;
}
 
 
/* 我的账单部分-start */
.box_wrap2{
	padding-top:0;
	padding-bottom:0;
	margin-top:0.2rem;
}



.form_wrap.form_noborder{
	padding-top:0.2rem;
	padding-bottom:0.3rem;
}


.box_wrap2 .title2,.box_wrap2 .form_ft{
	height:0.6rem;
	line-height:0.6rem;
}

.history_list .title2,.history_list .form_ft{
	height:0.5rem;
	line-height:0.5rem;
}

.history_list .detailsInfo{
	display:inline-block;
	background:rgba(0,0,0,0) url("../images/main/v1/mark@2x.png") no-repeat scroll center center / 0.25rem 0.25rem;
    vertical-align: middle;
    width: 0.25rem;
    height: 0.25rem;
}
.ctm-f-t .f-t-b{
	
	 font-size: 0.26rem;
   /*  line-height: 0.56rem; */
}

.ctm-f-t .f-ct,.f-ct .form-group{
	
	font-size: 0.29rem;
	line-height: 0.6rem;
}

.ctm-f-t .m-b-none{
	margin-bottom:0;
}  


.form_noborder .form-group.ctm-hor-r{
	padding-left:0.2rem;
}

.form_noborder .form-group.c_orange{
	color:#fa6e28;
}

/* 还款记录点击底部弹出层 */

.window_credit.hty-record{
	padding-bottom:0;
	text-align:left;
	animation:up  0.1s  ;
	-moz-animation:up  0.1s  ;
	-webkit-animation:up  0.1s  ;
	-ms-animation:up  0.1s  ;
	-o-animation:up  0.1s  ;
}

.hty-record .ctm-container .ctm-layer-title{
    background-color: #f5f5f5;
	height: 0.8rem;
    line-height: 0.8rem;
    border: 0.01rem solid #e3e3e3;
    box-shadow: 0 0.01rem 0.01rem rgba(0, 0, 0, 0.05) inset;

}

.hty-record .ctm-layer-title > img{
    vertical-align: -0.02rem;
    width: 0.16rem;
}

.hty-record .ctm-layer-title > span{
    color: #424242;
    font-size: 0.3rem;
}

.hty-record .ctm-layer-content ul li::after{
	content:" ";
	display:table;
	clear:both;
}

.hty-record .ctm-layer-content ul li{
	padding:0 0.25rem;
	font-size:0.28rem;
	color:#424242;
	border-bottom:0.01rem solid #eee;
	
}

.hty-record .ctm-layer-content ul li:first-child{
	height:0.8rem;
	line-height:0.8rem;
	color:#FE6F1A;
	
}


.hty-record .ctm-layer-content ul li+li{
	height:0.7rem;
	line-height:0.7rem;
	border-bottom:0.01rem solid #eee;
	
}

.ctm-layer-content ul li:first-child div:last-child,.hty-record .ctm-layer-content ul li+li div:last-child{
	text-align:right;
	
}

/* 我的账单部分-end */

.ctm-bg{
	background-color:#eee;
}



 


 


/* c_repat.jsp */

.ctm-mx-m-t{
	margin-top:2rem;
}

.btn.ctm-mx-btn{
	font-size:0.32rem;
	line-height: 0.32rem;
	width:6.85rem;
}

/* 验证码弹出层 */
 

.btn.ctm-layer-btn{
	height: 0.75rem;
    width: 3.05rem;
}


/* 借钱还信用卡 */
.ctm-tip-p p{
	color: #ddd;
    font-size: 0.28rem;
    padding-left: 10%;
}

.credit_title.orange,label.orange{
	 
	color:#FD6F19;
}

.credit_title.orange{
	font-size:0.3rem;
	 
}



/* ---------------滑动插件样式   productList---------------start */
.swiper-container {
 /*  width: 672px;
  height: 241px; */
  width: 6.72rem;
  height: 3.5rem; 
  color: #fff;
  text-align: center;
  overflow:visible !important;
}

.pd_area.sp{
   /*  width: 672px;
  height: 241px;  */ 
  /* width: 6.72rem;
  height: 2.41rem;  */
  position:relative;
  margin-left:0;
  
  transform:none;
-ms-transform:none;	/* IE 9 */
-moz-transform:none;	/* Firefox */
-webkit-transform:none; /* Safari 和 Chrome */
-o-transform:none; 	/* Opera */
/*   transition: all 1s linear 0s;   */
  
  
}


.pagination {
 /*  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px; */
  bottom: 5px;
  left: 50%;
  margin-left: -10%;
  position: absolute;
  z-index: 20;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

div.sp.cur-scales {
	transform: scale(1.04);
	-ms-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-webkit-transform: scale(1.04);
	-o-transform: scale(1.04);
	/* left:0.02rem; */
	z-index: 100;
	animation: myScales 1.1s linear;
	-moz-animation: myScales 1.1s linear;
	-webkit-animation: myScales 1.1s linear;
	-ms-animation: myScales 1.1s linear;
	-o-animation: myScales 1.1s linear;}

.cur-scales ~ .sp{
	left:0.09rem;
	
}

.right{
	right:0.08rem;
}




/* div.sp.scales + div{
  transform:scale(1.04);
  left:0.02rem;
  
  
}

.scales ~ .sp{
	left:0.05rem;
	
} */

/* -----------------滑动插件样式  ---------------end */




/*-----------------借钱还信用卡 productList --------------------start*/


.ctm-produt-list{
	
	padding-bottom: 0.15rem;
}
.ctm-produt-list .pd_area_t{
	
	font-size:0.24rem;
}

.ctm-produt-list .control-label{
	font-size:0.32rem;
	color:#666;
}


.ctm-produt-list .form-control{
	font-size:0.32rem;
	color:#FE6F1A;
}

.ctm-produt-list .swiper-container{
	margin-top:0.35rem;
}

.ctm-produt-list .pd_area{
	
	background: url("../images/main/pro_bg11@2x.png") no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 6.72rem 3.5rem;
	background-size: 6.72rem 3.5rem;
}

.ctm-produt-list .pd_area .t_lit:first-child{
	/* margin-top:0.4rem; */
	height: 1.5rem;  
	line-height:1.5rem;
	padding-top: 0.2rem;
}
.ctm-produt-list .pd_area .t_lit:nth-of-type(2){
 
	height: 0.9rem; 
	line-height:normal;
	padding-top:0.33rem; 
	 
}
.ctm-produt-list .pd_area .t_lit:last-child{
	 
	height: 1.1rem;  
	line-height:1.1rem;
	font-size:0.28rem;
	color:#FE8534;
}


.ctm-produt-list .pd_area .t_lit> .p_n{
	font-size:0.42rem;
	color:#fff;
}

.ctm-produt-list .pd_area .t_lit> .p_d, .ctm-produt-list .pd_area .t_lit:nth-of-type(2)>span:first-child{
	font-size:0.28rem;
	color:#333;
}

.ctm-produt-list .pd_area .t_lit> .p_d{
	font-size:0.27rem;
}

.ctm-produt-list .pd_area .t_lit:nth-of-type(2)>span:not(:first-child){
	position: relative;
    top: 0.05rem;
	font-size:0.22rem;
	color:#666;
}

.ctm-produt-list .pd_area .t_lit .t_lit_p{
	/* text-align: right; 
	font-size: 0.22rem; 
	line-height: 0.1; */
	clear: both;
	border-bottom: 1px solid #ddd;
    font-size: 0.22rem;
    margin-top: -5px;
    padding-bottom: 2px;
    text-align: right;
    
}

.ctm-produt-list .orange{
	color:orange;
}

.ctm-produt-list .qs_eare{
	font-size:0.32rem;
	color:#666;
}

.ctm-produt-list  span {
	color: #fc7018;
}



/*--------------------借钱还信用卡 ----------------end*/








/*--------------------主页面----------------start*/
.ctm-f-s-4{
  font-size: 0.4rem;
   
}

#main-wrapper *{

  box-sizing: border-box;;
}

#main-wrapper .header_bg {
    background: rgba(0, 0, 0, 0) url("../images/main/v1/bg@2x.png") repeat scroll 0 0 / 100% 100%;
    height: 7.31rem;
    padding-top: 0.5rem; 
    color:#282828; 
}

 .header_bg .nav_date {
   /*  margin-right: 0.3rem;
    text-align: right; */
    margin-left:0.3rem;
    color:#666;
}

.header_bg .nav_date > div{
	display:inline-block;
	font-weight:600;
}

.header_bg .nav_date img {
   
   width:0.34rem;
   height:0.32rem;
   vertical-align: -0.03rem;
}

.nav_date .message{
	 background: rgba(0, 0, 0, 0) url("../images/main/v1/index_news@2x.png") repeat scroll 0 0 / 100% 100%;
	 display:inline-block;
	 width:0.43rem;
	 height:0.38rem;
}




.header_bg .nav_date span:nth-of-type(1) {
   font-size:0.32rem;
}

 .header_bg .nav_date span:nth-of-type(2) {
   font-size:0.24rem;
}

 .header_bg .nav_main {
     
    margin-top: 1.1rem;
    text-align: center;
    
 
}

.header_bg .nav_main a span{
	color:#282828;
	
}

/*#main-wrapper .header_bg .nav_main .tip_info{
     
    display: inline-block;
 
}*/

.header_bg .tip_info span:nth-of-type(1){
	display: block;
	font-size:0.28rem;
  font-size:0.4rem;
}
 
.header_bg .tip_info span.cedu{
	
	font-size:1.3rem;
}

 

 .header_bg .nav_main .tip_img {
	
	  display: inline-block;
    background: rgba(0, 0, 0, 0) url("../images/main/v1/dio_bg@2x.png") repeat scroll 0 0 / 100% 100%;
    height: 0.51rem;
    width: 1.24rem;
    animation: dynamic 2s ease 1 running;
   
    -moz-animation:dynamic 2s ease 1 running;
    
    -webkit-animation:dynamic 2s ease 1 running;
    
    -o-animation:dynamic 2s ease 1 running;  
    
}

 





.header_bg .nav_main .tip_img span {
	 font-size: 0.22rem;
     line-height: 0.637rem;
}

 /*第二部分*/
.link_money{
  position: relative;;
  height:1.6rem;
  background-color:#fff;
  padding-top: 1px;
  color: #666;
  
}

.link_money .m-v {
    border-left: 1px solid #ddd;
    height: 40%;
    left: 50%;
    position: absolute;
    top: 15%;
}

.link_money img{
  width: 0.41rem;
 /* height: 0.31rem;*/
  vertical-align: middle;
}

.link_money .p-img{
    position: relative;
    top: 0.05rem;
}

.link_money span{
   font-size: 0.28rem;
} 

.link_money .pret-info{
    padding-left: 0.65rem;
   
} 
.link_money .pret-info.pr{
    padding-left: 0.55rem;
   
}
  
.pret-info, .pret-info span{
   font-size: 0.22rem;
}

.link_money .ctm-row .p-l-lg{
   padding-left: 0.5rem; 
}

/*第三部分*/
.news_area{
    background-color: #fff;
   /* height: 2.9rem;  */
    height: 2.1rem;
    padding-top: 0.01rem;
}

.news_area .m-vr{
    border-left: 1px solid #ddd;
    height: 50%;
    left: 26%;
    position: absolute;
    top: 30%;
}

.news_area .bank_card{
    
    height: 1.3rem;
    text-align: center;
    
}

.news_area .card{
    
    height: 100%;
    line-height: 1.3rem;
}

.news_area .card img {
    vertical-align: middle;
    width: 0.35rem;
}

.news_area .card span {
    font-size: 0.32rem;
}




.news_area .news_feed{
    position: relative;
    height: 0.8rem;
    line-height: 0.8rem;
}

.news_area .news_tag{
    font-size:0.28rem;
}
.news_area .news_tag img{
    width: 0.32rem;
    vertical-align: -0.08rem;
}
.news_area .news_tip{
    height: 0.6rem;
    overflow: hidden;
  /*  line-height: 0.8rem;*/
   /* text-overflow: ellipsis;
    white-space: nowrap;*/
    
}



.news_area .news_tip,.news_tip{
    
    font-size: 0.28rem;
   
    color: #666;
}

.news_area .news_tip a{
	font-size: 0.22rem;
	 color: #666;
}

.news_area .news_tip .news_span{
  /*  height: 0.8rem;*/
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.news_area .w-rt.newsItem{
   width: 59%;
}

.news_area .w-rt.newsMore{
   width: 11%;
}

.ctm-footer{
  background: rgba(0,0,0,0)  url("../images/main/v1/index_bg@2x.png"); 
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size: 7.5rem 1.6rem;
  background-size: 7.5rem 1.6rem;
}

/*--------------------主页面----------------end*/


 




 




/*--------------------已还款页面----------------start*/
.repay-wrapper .text-con p{
	
	text-indent:0;
}

.repay-wrapper .text-con .hd{
	margin-bottom:0;
}

.repay-wrapper .tips{
	font-size:0.22rem;
	text-align:left;
	
}

.repay-wrapper .indent{
	text-indent:0.16rem;
}

/*--------------------已还款页面----------------end*/

/*--------------------底部弹框----------------start*/
.layer-wrap.ctm-layer-wrapper{
	
	 border-radius: 0.05rem 0.05rem 0 0;
	 background: rgba(255, 255, 255, 0.98) none repeat scroll 0 0;
}
/*--------------------底部弹框----------------end*/










/* 个人中心      start */
.widget-list{
	width:100%;
	
}

.widget-list ul{
	list-style:none;
	padding-left:0;
}

.vip-list li{
	position:relative;
	display:block;
    vertical-align: middle;
}

.vip-list li a {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 1rem;
    line-height: 1rem;
    margin-left: 0.3rem;
    border-bottom: 1px solid #dddddd;
    color: #555;
    text-decoration: none;
}

.vip-list li .arrows{
    background: rgba(0, 0, 0, 0) url("../images/img/next@2x.png") no-repeat scroll 0 0 / 100% auto;
    display: inline-block;
    width: 0.18rem;
    height: 0.3rem;
    position: absolute;
    right: 0.4rem;
    top: 50%;
    transform: translateY(-50%);
  
}

.vip-list li img{
    margin-right: 0.2rem;
    vertical-align: middle;
    width: 0.49rem;
}

/* 个人中心      end */


/* 借贷产品       start */
.pro_list .pro_list_bg{
	background:rgba(0, 0, 0, 0) url("../images/main/v1/pro_mbg@2x.png") no-repeat scroll center center / 7.15rem 2.95rem;
	width:7.15rem;
	height:2.95rem;
	cursor:pointer;
}

.pro_list .pro_list_bg .tag{
    color: #fe6f1a;
    font-size: 0.2rem;
    left: 0.6rem;
    line-height: 0.5rem;
    position: relative;
    top: 0.05rem;
}

@media screen and (width:320px){
	.pro_list .pro_list_bg .tag{
	left: 0.55rem;
	}
}


.pro_list .pro_list_bg .pro_title{
    
    font-size: 0.36rem;
    font-weight: 500;
    line-height: 1.1;
    color: #333;
    
}

.pro_list .pro_list_bg .pro_info1{
    
    font-size: 0.22rem;
    color: #999;
     
    
}

 .pro_info1 span{
    
    color: #fe6f1a;
     
    
}

.pro_list .pro_list_bg .pro_info2{
    
	color: #333;
    font-size: 0.24rem;
     
    
}

 .pro_list_bg button{
    box-shadow: none;
    font-size: 0.24rem;
    height: 0.5rem;
    padding: 0;
    width: 2.1rem;
}


/* 数字键盘清空样*/			
.keyboard-empty {
    background-image: url("../images/main/v1/delete@2x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.59rem 0.43rem;
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* 借贷产品       end */



/* 提额法宝       start */


.withdraw_list .withdraw_list_bg{
	background:url("../images/main/v1/user_bg@2x.png") no-repeat scroll 90% 85% / 1.01rem 0.9rem, rgba(0, 0, 0, 0) url("../images/main/v1/weapon_bg@2x.png") no-repeat scroll center center / 6.5rem 2.91rem;
	height:2.91rem;
	/* cursor:pointer; */
	padding-left: 0.5rem;
    padding-right: 0.5rem;
	
}

.withdraw_list .operator_bg{
	background:url("../images/main/v1/Operator@2x.png") no-repeat scroll 92% 87.8% / 0.96rem 1.05rem, rgba(0, 0, 0, 0) url("../images/main/v1/weapon_bg@2x.png") no-repeat scroll center center / 6.5rem 2.91rem;
 
	
}

.withdraw_list_bg .wd_title,.withdraw_list_bg  .wd_star {
	color: #fff;
	line-height: 0.7rem;
	position: relative;
	left: 0.2rem;
}


.withdraw_list_bg .wd_title {
  
    font-size: 0.32rem;
    font-weight: 500;
    height: 0.8rem;
   
}


.withdraw_list_bg  .wd_star{
    left: 0.25rem;    
    font-size: 0.2rem;
    height: 0.8rem;

}




.withdraw_list_bg  .wd_date{
    color: #666;
    font-size: 0.2rem;
    height: 0.6rem;
    
    
}

.withdraw_list_bg .wd_date > div {
	border-bottom: 0.01rem dashed #FF8862;
	height: 0.6rem;
	line-height: 0.6rem;}

.withdraw_list_bg .wd_date > div:first-child{
   padding-left:0.3rem;
	
}

.withdraw_list_bg .wd_date > div:last-child{
   padding-right:0.3rem;
	
}

.withdraw_list_bg  .wd_star i{
	display:inline-block;
    background:rgba(0, 0, 0, 0) url("../images/main/v1/-pentagon@2x.png") no-repeat scroll center center / 0.21rem 0.21rem;
	width:0.21rem;
	height:0.21rem;
	vertical-align: -0.02rem;
}

 .wd_star i+i{
 	margin-left:0.1rem;}


.withdraw_list_bg .wd_btn .btn{
    background-color: #999;
    border-color: transparent;
    border-radius: 0.1rem;
    box-shadow: none;
    color: #fff;
    font-size: 0.24rem;
    height: 0.6rem;
    padding: 0;
    width: 2.4rem;
}

.withdraw_list_bg .wd_btn .usable{
	  background-color: #ffd73d;
}

/* 提额法宝       end */

/* 银行卡列表       start */
 

.bank_list .mui-table-view,.bank_list .mui-table-view::after,.bank_list .mui-table-view-cell::after{
   background-color: transparent;
}

 
.bank_list .bank_icon {
    height: 0.7rem;
    padding-top: 0.09rem;
    width: 0.7rem;
    background: #fff none repeat scroll 0 0;
    border-radius: 100%;
    text-align: center;
}

.bank_list .bank_logo{
  background-image: url("../images/bankLogo/bank_logo_bj1@3x.png");
  height: 0.5rem;
  width: 0.5rem;

}

.dl_item  .hd {
    color: #2e2e4a;
    font-size: 0.32rem;
}

.bank_list .dl_tips{
	color: #fe6f1a;
	font-size: 0.34rem;
	height: 1.1rem;
	line-height: 1.1rem;
	margin: 0.1rem auto 0;
	text-align: center;
	width: 6.86rem;	
}




/* 银行卡列表       end */


/* 消息中心       start */

  .news_center ul a{
    height: 1.1rem;
    cursor: pointer;
   
  }

  .news_center .mui-table-view-cell > a:not(.mui-btn){
     padding-bottom: 0.11rem;
    padding-top: 0.15rem;
  }

  .news_center ul a h5{
     font-size: 0.32rem;
     color: #333;
  }
  .news_center ul a p{
     font-size: 0.24rem;
     color: #999;
  }



/*   .news_center_detail{
    background-color: #fff; */
    /*background-image: url("../images/grid_24px.png");
    background-size: 2rem 0.48rem;
   
    padding-top: 0.01rem;
    padding-bottom: 2rem;*/
     
/*     padding-top: 0.2rem;
 
    height: 100%;
    position: absolute;
    width: 100%;
  }
 */
   /*  .news_center_detail >div {
   
    margin-top: 0.01rem;
     
  }

  .news_center_detail>div >h3  {
    color: #666;
    font-size: 0.32rem;
    font-weight: 500;
}

   .news_center_detail > div >p {
    color: #666;
    font-size: 0.24rem;
    margin-top: 0.4rem;
    text-indent: 0.45rem;
    line-height: 0.6rem;
} */
  
/* 消息中心       end */


/* 人行征信       start */
.l-t-entry,.r-b-entry{
    font-size: 0.24rem;
    line-height:1.5;
    
}

.l-t-entry{
   
    padding-bottom: 0.2rem;
    padding-left: 0.28rem;
}

.r-b-entry{
    padding-right: 0.28rem;
    padding-top: 0.2rem;
}

.l-t-entry a,.r-b-entry a{
	color: #FE6F1A;
}


/* 验证问题  */
[data-step="questions"] ul {
    color: #424242;
    font-size: 0.32rem;
    line-height: 2;
}

[data-step="questions"] ul+ul{
	margin-top:0.3rem;
}


[data-step="questions"] ul>li:not(.caption){/*  li:not(:first-child)???*/
	padding-left:28px;
	padding-right:20px;
}

[data-step="questions"] ul li i{
    background: rgba(0, 0, 0, 0) url("../images/chanc_2@2x.png") no-repeat scroll center center / 0.37rem 0.37rem; 
    position: relative;
    top: 0.15rem;
    width:0.37rem;
    height:0.37rem;
    cursor:pointer;
   
    
}

[data-step="questions"] ul li label{
     
    width:90%;
    white-space:normal;
   
    
}
[data-step="questions"] ul li i.checked{
    background-image:  url("../images/chanc_1@2x.png"); 
}


/* 人行征信       end */


.mobileCode,.imageCode{
	display: inline-block;
	position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    cursor:pointer;
    
}

/*  获取手机验证码  */
.mobileCode {
    border-left: 2px solid orange;
    color: #fa6e28;
    height: 0.5rem;
    line-height: 0.5rem;
   
}

.ImageCode {
	 left:67%;
     height:0.6rem;
     padding-top:0.03rem;
     line-height:0.6rem;
     min-width: 30%;
     /* text-align: center; */
}



.imageCode img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
    border-radius: 3px;
}



/*常见问题*/
.faq h4{
  /*font: 0.4rem/1.5 "微软雅黑",tahoma,sans-serif;*/
  font-size: 0.4rem;
  line-height: 1.5;
  font-family: "微软雅黑",tahoma,sans-serif;
   
}

.faq p{
  font-size: 0.32rem;
  line-height: 2;
  font-family: "微软雅黑",tahoma,sans-serif;

}


.faq p:not(.introduce)::before{
  content: "指环王开发组：";
  color: #fe6f1a;
  font-size: 0.32rem;
  line-height: 2;
}

.faq .faqBg{
    background: rgba(0, 0, 0, 0) url("../images/line01@2x.png") no-repeat scroll center center / 4.38rem 0.43rem;
    display: inline-block;
    width: 100%;
    height:0.43rem;
    margin-bottom: 0.7rem;
   
   
}











/*主页-局部动画--------------------------start*/
/* Firefox */
@-moz-keyframes  dynamic{
  0%{
     transform: scale(1);
     -ms-transform: scale(1);   
     -moz-transform: scale(1);
     -webkit-transform:scale(1);
     -o-transform: scale(1);
  }

  50%{

     transform:  scale(1.3);
     -ms-transform:  scale(1.3);
     -moz-transform:  scale(1.3);
     -webkit-transform: scale(1.3);
     -o-transform:  scale(1.3);
  }

  100%{
     transform: scale(1);
     -ms-transform: scale(1);   
     -moz-transform: scale(1);
     -webkit-transform:scale(1);
     -o-transform: scale(1);
  }
}
/* Safari and Chrome */
@-webkit-keyframes  dynamic{
  0%{
     transform: scale(1);
     -ms-transform: scale(1);   
     -moz-transform: scale(1);
     -webkit-transform:scale(1);
     -o-transform: scale(1);
  }

  50%{
     transform:  scale(1.3);
     -ms-transform:  scale(1.3);
     -moz-transform:  scale(1.3);
     -webkit-transform: scale(1.3);
     -o-transform:  scale(1.3);
  }

  100%{
     transform: scale(1);
     -ms-transform: scale(1);   
     -moz-transform: scale(1);
     -webkit-transform:scale(1);
     -o-transform: scale(1);
  }
}
/* Opera */
@-o-keyframes  dynamic{
   0%{
     transform: scale(1);
     -ms-transform: scale(1);   
     -moz-transform: scale(1);
     -webkit-transform:scale(1);
     -o-transform: scale(1);
  }

  50%{
     transform:  scale(1.3);
     -ms-transform:  scale(1.3);
     -moz-transform:  scale(1.3);
     -webkit-transform: scale(1.3);
     -o-transform:  scale(1.3);
  }

  100%{
     transform: scale(1);
     -ms-transform: scale(1);   
     -moz-transform: scale(1);
     -webkit-transform:scale(1);
     -o-transform: scale(1);
  }
}
/*主页-局部动画--------------------------end*/

/*主页面动画第二种效果--左右晃动+变大*/

/* Firefox */
/*@-moz-keyframes  dynamic{
   0% {
     
     transform: rotate(0deg);
     -ms-transform: rotate(0deg);    
     -moz-transform: rotate(0deg);    
     -webkit-transform: rotate(0deg);  
     -o-transform: rotate(0deg);  
  } 



  25% {
     
      transform: rotate(10deg);
     -ms-transform: rotate(10deg);    
     -moz-transform: rotate(10deg);    
     -webkit-transform: rotate(10deg);  
     -o-transform: rotate(10deg);  
  }

  10%{
    transform: scale(1.2);
  }


  50% {
    
  
   transform: rotate(-10deg);
   -ms-transform: rotate(-10deg);    
   -moz-transform: rotate(-10deg);    
   -webkit-transform: rotate(-10deg);  
   -o-transform: rotate(-10deg);  
  
  
  }

  75% {
     
      transform: rotate(10deg);
     -ms-transform: rotate(10deg);    
     -moz-transform: rotate(10deg);    
     -webkit-transform: rotate(10deg);  
     -o-transform: rotate(10deg);  
  }



  100% {
     transform: rotate(0deg);
     -ms-transform: rotate(0deg);    
     -moz-transform: rotate(0deg);    
     -webkit-transform: rotate(0deg);  
     -o-transform: rotate(0deg); 
  }
}*/
/* Safari and Chrome */
/*@-webkit-keyframes  dynamic{
   0% {
     
     transform: rotate(0deg);
     -ms-transform: rotate(0deg);    
     -moz-transform: rotate(0deg);    
     -webkit-transform: rotate(0deg);  
     -o-transform: rotate(0deg);  
  } 



  25% {
     
      transform: rotate(10deg);
     -ms-transform: rotate(10deg);    
     -moz-transform: rotate(10deg);    
     -webkit-transform: rotate(10deg);  
     -o-transform: rotate(10deg);  
  }

  10%{
    transform: scale(1.2);
  }


  50% {
    
  
   transform: rotate(-10deg);
   -ms-transform: rotate(-10deg);    
   -moz-transform: rotate(-10deg);    
   -webkit-transform: rotate(-10deg);  
   -o-transform: rotate(-10deg);  
  
  
  }

  75% {
     
      transform: rotate(10deg);
     -ms-transform: rotate(10deg);    
     -moz-transform: rotate(10deg);    
     -webkit-transform: rotate(10deg);  
     -o-transform: rotate(10deg);  
  }



  100% {
     transform: rotate(0deg);
     -ms-transform: rotate(0deg);    
     -moz-transform: rotate(0deg);    
     -webkit-transform: rotate(0deg);  
     -o-transform: rotate(0deg); 
  }
}*/

/* Opera */
/*@-o-keyframes  dynamic{
   0% {
     
     transform: rotate(0deg);
     -ms-transform: rotate(0deg);    
     -moz-transform: rotate(0deg);    
     -webkit-transform: rotate(0deg);  
     -o-transform: rotate(0deg);  
  } 



  25% {
     
      transform: rotate(10deg);
     -ms-transform: rotate(10deg);    
     -moz-transform: rotate(10deg);    
     -webkit-transform: rotate(10deg);  
     -o-transform: rotate(10deg);  
  }

  10%{
    transform: scale(1.2);
  }


  50% {
    
  
   transform: rotate(-10deg);
   -ms-transform: rotate(-10deg);    
   -moz-transform: rotate(-10deg);    
   -webkit-transform: rotate(-10deg);  
   -o-transform: rotate(-10deg);  
  
  
  }

  75% {
     
      transform: rotate(10deg);
     -ms-transform: rotate(10deg);    
     -moz-transform: rotate(10deg);    
     -webkit-transform: rotate(10deg);  
     -o-transform: rotate(10deg);  
  }



  100% {
     transform: rotate(0deg);
     -ms-transform: rotate(0deg);    
     -moz-transform: rotate(0deg);    
     -webkit-transform: rotate(0deg);  
     -o-transform: rotate(0deg); 
  }
}*/
/*--------------------主页面----------------end*/

/* 底部弹出层动画    start */


@-webkit-keyframes up{
	   
	   from{ 
			 bottom:-3rem;;
		 }
	   to{ 
		   bottom:0rem;
		   
		}
 }
 
 @-moz-keyframes up{
	   
	   from{ 
			 bottom:-3rem;;
		 }
	   to{ 
		   bottom:0rem;
		   
		}
 }
 
 
@-o-keyframes up{
	   
	   from{ 
			 bottom:-3rem;;
		 }
	   to{ 
		   bottom:0rem;
		   
		}
 }
 
 @-moz-keyframes up{
	   
	   from{ 
			 bottom:-3rem;;
		 }
	   to{ 
		   bottom:0rem;
		   
		}
 }
 
 /* 底部弹出层动画    end */
 
 
 
 
 /*借钱还信用卡左右滑动动画  start*/
 @keyframes myScales{
	0% {transform:scale(1); }
	100% {transform:scale(1.04); }
}


@-moz-keyframes  myScales{
	0% {transform:scale(1); }
	100% {transform:scale(1.04); }
}
 
@-webkit-keyframes  myScales{
	0% {transform:scale(1); }
	100% {transform:scale(1.04); }
}

@-o-keyframes  myScales{
	0% {transform:scale(1); }
	100% {transform:scale(1.04); }
}
 
 @-moz-keyframes  myScales{
	0% {transform:scale(1); }
	100% {transform:scale(1.04); }
}

 /*借钱还信用卡左右滑动动画  end*/