<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上午合作界面</title>
	<link rel="stylesheet" href="../dist/css/style.css">
</head>
<body>
	<div class="head clearfix">
		<div class="logo"><a href="javascript://"><img src="../img/logo.png" alt="logo"></a></div>
		<div class="nav">
			<ul class="inline">
				<li><a class="active" href="javascript://">首页</a></li>
				<li><a href="javascript://">关于智阳</a></li>
				<li>
					<a href="javascript://">产品服务</a><i data-toggle="dropdown" class="icon icon-down icon-align-m"></i>
					<ul class="dropdown-menu">
						<li><a href="javascript://">HROSaas</a></li>
						<li><a href="javascript://">Jabava</a></li>
						<li><a href="javascript://">HROFirst</a></li>
						<li><a href="javascript://">员工帮手</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript://">商务合作</a><i data-toggle="dropdown" class="icon icon-down icon-align-m"></i>
					<ul class="dropdown-menu">
						<li><a href="javascript://">HROSaas</a></li>
						<li><a href="javascript://">Jabava</a></li>
						<li><a href="javascript://">HROFirst</a></li>
						<li><a href="javascript://">员工帮手</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript://">智阳资讯</a><i data-toggle="dropdown" class="icon icon-down icon-align-m"></i>
					<ul class="dropdown-menu">
						<li><a href="javascript://">HROSaas</a></li>
						<li><a href="javascript://">Jabava</a></li>
						<li><a href="javascript://">HROFirst</a></li>
						<li><a href="javascript://">员工帮手</a></li>
					</ul>
				</li>
				<li><a href="javascript://">加入智阳</a></li>
			</ul>
		</div>
		<div class="weixin">
			<ul class="inline">
				<li>
					<a href="javascript://"><i class="icon icon-weibo icon-align-m"></i></a>
				</li>
				<li>
					<a href="javascript://">
						<i class="icon icon-weixin icon-align-m"></i>
						<div class="weixin-dropdown-menu">
							<img src="../img/weibo.jpg" alt="关注官方微信">
						</div>	
					</a>
					
				</li>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<a href="javascript://"><img src="../img/business-banner.jpg" width="100%" alt="banner"></a>
	</div>
	<div class="containt">
		<div class="panel-heading text-color-business center f-30 m-t-120 m-b-110">
			代理智阳HRO系统
			<div class="small m-t">代理智阳开发、有代理权的系统及服务，并秉承“基础模块免费、增值模块收费；系统免费、服务收费”的运作原则</div>
		</div>
		<div class="panel-body center">
			<ul class="inline business-hro">
				<li>
					<img src="../img/business-hro1.png" alt="">
					<h3 class="font-light text-left m-b-xs">代理商</h3>
					<p>每一个省市智阳可与一个或若干代理商合作，数量根据其可以承担的任务量来决定。代理商可设二、三级代理。</p>
				</li>
				<li>
					<img src="../img/business-hro2.png" alt="">
					<h3 class="font-light text-left m-b-xs">渠道商</h3>
					<p>由与智阳公司推荐给省一级代理商或省一级代理商签订的人力资源公司、网络公司、咨询公司、线上签约平台伙伴和个人等构成。</p>
				</li>
				<li>
					<img src="../img/business-hro3.png" alt="">
					<h3 class="font-light text-left m-b-xs">战略合作商</h3>
					<p>与智阳平台签署了线上服务协议的各互联网公司或与签署了线下服务协议的各落地全国公司，均须为全国公司。</p>
				</li>
			</ul>
		</div>
		<div class="panel-footer center m-t-100">
			<button type="button" class="btn btn-apply f-24" data-toggle="modal" data-target="#applyJoin">申请加盟</button>
		</div>
	</div>
	<div class="container-fluid free-open-bg m-t-120">
		<div class="containt">
			<div class="panel-heading text-color-business center f-30 m-b-60">
				免费开网店
				<div class="small m-t">睿福利、妙市场两大平台开设专属网上店铺</div>
			</div>
			<div class="panel-body center">
				<ul class="inline free-open">
					<li><a href="http://www.hrosaas.com.cn/fli.html"><img src="../img/business-rui.jpg" alt="" width="100%"></a></li>
					<li><a href="http://www.hrosaas.com.cn/miao.html"><img src="../img/business-miao.jpg" alt="" width="100%"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="containt">
			<div class="panel-heading text-color-business center f-30 m-t-150 m-b-60">
				技术服务合作
			</div>
			<div class="panel-body center m-b-250">
				<a href="javascript://"><img src="../img/business-cool.jpg" width="100%" alt=""></a>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="footer-heading center">
			<ul class="inline">
				<li><a href="javascript://"><i class="icon icon-shop icon-align-m"></i><span>服务商入驻</span></a></li>
				<li><a href="javascript://"><i class="icon icon-apply icon-align-m"></i><span>申请试用</span></a></li>
				<li><a href="javascript://"><i class="icon icon-safe icon-align-m"></i><span>安全中心</span></a></li>
				<li><a href="javascript://"><i class="icon icon-privacy icon-align-m"></i><span>隐私条款</span></a></li>
				<li><a href="javascript://"><i class="icon icon-service icon-align-m"></i><span>7+24小时客服</span></a></li>
				<li><a href="javascript://"><i class="icon icon-complaints icon-align-m"></i><span>投诉与反馈</span></a></li>
			</ul>
		</div>
		<div class="footer-body center">
			<ul class="inline">
				<li>
					<p>邮箱：ezhiyang@163.com    全国客服热线：400-921-7700</p>
					<p>Copyright 2015 www.hrofirst.com All rights reserved 第一人力ICP：沪ICP备14044489号-2</p>
				</li>
				<li>
					<img src="../img/certification.jpg" alt="">
				</li>
			</ul>
		</div>
		<div class="back-top" data-toggle="backTop" onclick="pageScroll()">
			<i class="icon icon-backTop"></i>
		</div>
	</div>
	<div class="modal fade" id="applyJoin">
	    <div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header m-b-50 center">
			    	<h2 class="font-light">申请加盟</h2>
			    </div>
			    <div class="modal-body center">
			    	<form>
			    		<div class="form-group">
			    			<input class="form-control" type="text" placeholder="请输入公司名称">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" type="text" placeholder="请输入公司邮箱">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" type="text" placeholder="请输入联系人姓名">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" type="text" placeholder="请输入联系人手机号码">
			    		</div>
			    		<button type="button" class="btn btn-business f-18">提　交</button>
			    	</form>
			    </div>
			    <div class="modal-close" data-dismiss="modal">
			    	&times;
			    </div>
			</div>
		</div>
	</div>
	<script src="../dist/js/jquery.js"></script>
	<script src="../vendor/bootstrap.min.js"></script>
	<script src="../dist/js/comment.js"></script>
</body>
</html>