<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>智阳官网首页</title>
	<!-- <link rel="stylesheet" href="../vendor/video/css/blueimp-gallery.css">
	<link rel="stylesheet" href="../vendor/video/css/blueimp-gallery-indicator.css">
	<link rel="stylesheet" href="../vendor/video/css/blueimp-gallery-video.css">
	<link rel="stylesheet" href="../vendor/video/css/demo.css"> -->
	<link rel="stylesheet" href="../dist/css/style.css">
</head>
<body>
	<div class="head clearfix">
		 
		 
 
	<div class="containt">
		 
		 
	 
	<!-- <div class="container-fluid">
		<div class="video">
			<div id="blueimp-video-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
			    <div class="slides"></div>
			    <h3 class="title"></h3>
			    <a class="prev">‹</a>
			    <a class="next">›</a>
			    <a class="play-pause"></a>
			</div>
		</div>
	</div> -->
	<div class="containt">
		<div class="panel-heading center f-30 m-t-xl m-b-xl">
			合作伙伴
		</div>
		<div class="panel-body">
			<div class="roll" id="roll">
			    <a href="javascript://" class="btn-left"></a>
			    <a href="javascript://" class="btn-right"></a>
			    <div class="wrap">
			        <ul>
			            <li><a href="javascript://"><img src="../img/coo-img1.jpg" /></a></li>
			            <li><a href="javascript://"><img src="../img/coo-img2.jpg" /></a></li>
			            <li><a href="javascript://"><img src="../img/coo-img3.jpg" /></a></li>
			            <li><a href="javascript://"><img src="../img/coo-img4.jpg" /></a></li>
			            <li><a href="javascript://"><img src="../img/coo-img5.jpg" /></a></li>
			            <li><a href="javascript://"><img src="../img/coo-img6.jpg" /></a></li>
			            <li><a href="javascript://"><img src="../img/coo-img7.jpg" /></a></li>
			        </ul>
			    </div>
			</div>
		</div>
	</div>
	<div class="footer m-t-200">
		<div class="footer-heading center">
			<ul class="inline">
				<li><a href="javascript://"><i class="icon icon-shop icon-align-m"></i><span>服务商入驻</span></a></li>
				<li><a href="javascript://"><i class="icon icon-apply icon-align-m"></i><span>申请试用</span></a></li>
				<li><a href="javascript://"><i class="icon icon-safe icon-align-m"></i><span>安全中心</span></a></li>
				<li><a href="javascript://"><i class="icon icon-privacy icon-align-m"></i><span>隐私条款</span></a></li>
				<li><a href="javascript://"><i class="icon icon-service icon-align-m"></i><span>7+24小时客服</span></a></li>
				<li><a href="javascript://"><i class="icon icon-complaints icon-align-m"></i><span>投诉与反馈</span></a></li>
			</ul>
		</div>
		<div class="footer-body center">
			<ul class="inline">
				<li>
					<p>邮箱：ezhiyang@163.com    全国客服热线：400-921-7700</p>
					<p>Copyright 2015 www.hrofirst.com All rights reserved 第一人力ICP：沪ICP备14044489号-2</p>
				</li>
				<li>
					<img src="../img/certification.jpg" alt="">
				</li>
			</ul>
		</div>
		<div class="back-top" data-toggle="backTop" onClick="pageScroll()">
			<i class="icon icon-backTop"></i>
		</div>
	</div>
	<script src="../dist/js/jquery.js"></script>
	 

	<script src="../dist/js/comment.js"></script>
	<script src="../dist/js/roll.js"></script>
</body>
</html>