/**********************************************Ƶ��1**********************************************/
.kdjh_01_top_h{ height:180px;}
.kdjh_01_top_div1{width:50%; float:left; text-align:center; padding:34px 0;}
.kdjh_01_top_div1 span{background:url(../img/icon_top_jh_on.jpg) no-repeat; background-size:100% 100%; width:6em; height:6em; display:inline-block;}
.kdjh_01_top_div1 strong{background:url(../img/icon_triangle.png) no-repeat; background-size:100% 100%; width:1.5em; height:1em; position:absolute; margin-top:2em; margin-left:-0.8em;}
.kdjh_01_top_div_new1{width:50%; float:left; text-align:center; padding:34px 0;}
.kdjh_01_top_div_new1 span{background:url(../img/icon_top_jh.jpg) no-repeat; background-size:100% 100%; width:6em; height:6em; display:inline-block;}
.kdjh_01_top_div_new1 strong{ display:none}
.kdjh_01_top_div2{width:50%; float:left; text-align:center; padding:34px 0;}
.kdjh_01_top_div2 span{background:url(../img/icon_top_cx_on.png) no-repeat; background-size:100% 100%; width:6em; height:6em; display:inline-block;}
.kdjh_01_top_div2 strong{background:url(../img/icon_triangle.png) no-repeat; background-size:100% 100%; width:1.5em; height:1em; position:absolute; margin-top:2em; margin-left:-0.8em;}
.kdjh_01_top_div_new2{width:50%; float:left; text-align:center; padding:34px 0;}
.kdjh_01_top_div_new2 span{background:url(../img/icon_top_cx.png) no-repeat; background-size:100% 100%; width:6em; height:6em; display:inline-block;}
.kdjh_01_top_div_new2 strong{ display:none}
.kdjh_con_table_div,.kdjh_con_table_div_c{width:100%; border-bottom:solid 1px #ccc; padding-top:1.5em;}
.kdjh_con_table_div .left_div{width:25%; float:left; line-height:2em;}
.kdjh_con_table_div_c .left_div{width:39%; float:left; line-height:2em;}
.kdjh_con_table_div .right_div{width:75%; float:left}
.kdjh_con_table_div_c .right_div{width:61%; float:left}
.kdjh_con_table_div .right_div input{width:99%; text-indent:1em; border:none; line-height:2em; font-size:1.4rem;}
.kdjh_con_table_div .right_div span{background:url(../img/icon_cancel.png) no-repeat; background-size:100% 100%; width:1.1em; height:1.1em; margin-left:-1.2em; margin-bottom:-0.15em;}
.kdjh_con_table_div_c .right_div input{width:99%; text-indent:1em; border:none; line-height:2em; font-size:1.4rem;}
.kdjh_con_table_div_c .right_div span{background:url(../img/icon_cancel.png) no-repeat; background-size:100% 100%; width:1.1em; height:1.1em; margin-left:-1.2em; margin-bottom:-0.15em;}
.kdjh_fot_p{font-size:0.9rem; height:42px; position:absolute;bottom:0;}
.kdjh_fot_p i{ font-style:normal;}

.kdjh_03_top{height:120px; background: #eb5405 url(../img/bg_logo.png) bottom right 0.5em no-repeat; background-size:5em 3.8em; width:100%;}
.kdjh_03_top_div{width:100%; background:url(../img/icon_progress_bar.png) repeat-x; background-size:100% 100%; height:30px;}
.kdjh_03_top_div_con,.kdjh_03_top_div_con_yes{width:25%; text-align:center; float:left}
.kdjh_03_top_div_con span{background:url(../img/icon_progress_bar_y.png) no-repeat; background-size:100% 100%; width:18px; height:18px; margin-top:6px; color:#ffbc99; font-size:0.8rem; line-height:18px;}
.kdjh_03_top_div_con p{ color:#ffbc99; font-size:0.8rem; padding-top:0.5em;}
.kdjh_03_top_div_con_yes span{background:url(../img/icon_progress_bar_y_y.png) no-repeat; background-size:100% 100%; width:18px; height:18px; margin-top:6px; font-size:0.8rem; text-align:center; color:#eb5405; line-height:18px;}
.kdjh_03_top_div_con_yes p{font-size:0.8rem; color:#fff; padding-top:0.5em;}
.kdjh_03_top_div_bot_p{font-size:2rem; color:#fff; text-indent:5%; padding-top:35px;}
.kdjh_03_con_div{ background:#fff; border-bottom:1px solid #dedede; border-top:solid 1px #dedede;}
.kdjh_03_con_div .top_tit{ border-bottom:solid 1px #dedede; font-size:1.7rem; padding-left:1em; line-height:2em;}
.kdjh_03_con_div .top_tit span{ font-size:0.9rem; color:#eb5405; margin-left:1em;}
.kdjh_03_con_div .con_pad1{padding: 1em; line-height:2em;}
.kdjh_03_con_div .con_pad2{ padding: 1em 1em 1em 2.3em; line-height:2em;}
.kdjh_03_con_div .con_pad2 b{border-radius:5em; width:0.5em; height:0.5em;background:#eb5405; margin-left:-1em; margin-bottom:0.15em; margin-right:0.5em; }
.kdjh_03_con_div .bot_btn_d{border-top:solid 1px #ccc;text-align:center; line-height:3em;}
.kdjh_03_con_div .bot_btn_d .span_spr{background:url(../img/icon_spread.png) right top 0.9em no-repeat; background-size:0.8em 0.8em; padding-right:1em; color:#eb5405; font-size:1.5rem;}
.kdjh_03_con_div .bot_btn_d .span_fur{background:url(../img/icon_furl.png) right top 0.9em no-repeat; background-size:0.8em 0.8em; padding-right:1em; color:#eb5405; font-size:1.5rem;}
.kdjh_03_con_div .p_xs{ line-height:2rem;}
.kdjh_03_con_tk{text-decoration:underline; padding:0 1em; line-height:3em; font-size:1.5rem;}
.kdjh_03_table{ width:100%;}
.kdjh_03_table tr{ border-bottom:solid 0px #ccc;}
.kdjh_03_table tr th{ white-space:nowrap; padding:1.2em 0.7em 0.5em 0.2em;}
.kdjh_03_table tr th .b_red{ color:#F00; position:absolute; margin-left:-0.8em; margin-top:0.15em;}
.kdjh_03_table tr td{ padding:1.2em 0.2em 0.2em 0.7em;}
.kdjh_03_table tr td .span_btn_yzm{background:#eb5405; border:solid 1px #eb5405; color:#fff; border-radius:0.4em; float:right; width:39%; text-align:center; line-height:2.3rem; margin-top:-0.6em;}
.kdjh_03_table tr td .span_btn_js{ border:solid 1px #eb5405; color:#eb5405; border-radius:0.4em; float:right; width:39%; text-align:center; line-height:2.3rem; margin-top:-0.6em;}
.kdjh_03_table tr td .span_txt_org{text-decoration:underline; color:#eb5405; float:right;}
.kdjh_03_table tr td .span_img_yzm{ right:1.3em; width:5.5em; margin-top:-1em; position:absolute}
.kdjh_03_table tr td .span_org_txt{color:#eb5405; text-decoration:underline}
.kdjh_03_table tr td .span_m_no{width:3.5em; color:#a8a8a8; text-align:center}
.kdjh_03_table tr td .span_m_cur{background:#eb5405; border-radius:0.6em; color:#fff; text-align:center; width:3.5em; line-height:1.6em;}
.kdjh_03_table tr td .span2_no{width:3.6em; color:#a8a8a8; text-align:center;}
.kdjh_03_table tr td .span2_cur{background:#eb5405; border-radius:0.6em; color:#fff; text-align:center; width:3.6em; line-height:1.7em;}

@media screen and (max-width:320px){
.kdjh_03_table tr td .span2_no{width:3.6em; color:#a8a8a8; text-align:center; font-size:1.2rem; line-height:2em;}
.kdjh_03_table tr td .span2_cur{background:#eb5405; border-radius:0.6em; color:#fff; text-align:center; width:3.6em; line-height:1.6em; font-size:1.2rem; line-height:2em;}
                  }

.kdjh_03_smiling_face{width:35%; margin:0 auto; margin-top:30%}
.kdjh_03_smiling_face img{ width:100%;}
.kdjh_03_smiling_face_p{font-size:2rem; text-align:center; padding-top:0.7em;}

.kdcx_04_table_xs{ width:100%; text-align:left}
.kdcx_04_table_xs tr th{white-space:nowrap; vertical-align:top; line-height:2rem;}
.kdcx_04_table_xs tr td{ line-height:3rem;}
.kdcx_04_table_xs tr td i{ font-style:normal; text-decoration:underline; color:#0771d5;}

.cpfl_06_list,.cpfl_06_list_cur{background:#fff;padding:0.9em 1em; color:#eb5405;}
.cpfl_06_list span{background:url(../img/icon_spread_org.png) no-repeat; background-size:100% 100%; width:1em; height:1em; float:right; margin-top:0.35em;}
.cpfl_06_list_cur{background:#eb5405; color:#fff;}
.cpfl_06_list_cur span{background:url(../img/icon_furl_w.png) no-repeat; background-size:100% 100%; width:1em; height:1em; float:right; margin-top:0.35em;}
.cpfl_06_list_cur_div{padding-left:1em; background:#f7f7f7; border-bottom:solid 1px #dedede}
.cpfl_06_ul{ width:100%}
.cpfl_06_ul li{ border-bottom:solid 1px #d8d8d8; line-height:3em;}
.cpfl_06_ul li span{background:url(../img/icon_furl_d.png) no-repeat; background-size:100% 100%; width:1em; height:1em; float:right; margin-top:1em; margin-right:1em;}
.cpfl_06_ul .li_span_cur{background:url(../img/icon_furl_up.png) no-repeat; background-size:100% 100%; width:1em; height:1em; float:right; margin-top:1em; margin-right:1em;}
.cpfl_06_ul li:last-child{ border-bottom:none}

.cplb_07_con_bg{padding:0 0.5em; background:#fff; border-bottom:solid 1px #dedede; border-top:solid 1px #dedede;}
.cplb_07_con_bg_div{display:table; width:100%; table-layout:fixed}
.cplb_07_con_bg_div .left_img{display:table-cell; width:22%; vertical-align:middle; padding:0.4em 0em;}
.cplb_07_con_bg_div .left_img img{vertical-align:middle;width:100%}
.cplb_07_con_bg_div .middle_con{display:table-cell; vertical-align:middle; padding:0.4em 0.5em; width:73%}
.cplb_07_con_bg_div .middle_con .p_txt{ width:95%; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.cplb_07_con_bg_div .middle_con .p_txt_gray{font-size:1.1rem; color:#999;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:90%; padding-top:0.1em;}
.cplb_07_con_bg_div .middle_con .p_txt_gray span{ color:#eb5405;}
.cplb_07_con_bg_div .right_next{display:table-cell; vertical-align:middle; text-align:right;}
.cplb_07_con_bg_div .right_next span{background:url(../img/icon_next.png) no-repeat; background-size:100% 100%; width:1em; height:1em; vertical-align:middle}

.cpxq_08_title_green{border-bottom:solid 1px #dedede; font-size:1.7rem; padding-left:1em; line-height:2em; color:#00923f}
.cpxq_08_con{}
.cpxq_08_con p{line-height:1.8em;}
.cpxq_08_con .p_txt_green{font-weight:bold; color:#00923f;}

.zxhd_08_con_div{padding:0.8em 0.8em;}
.zxhd_08_con_div div:first-child{border-radius:0.4em; overflow:hidden; width:100%; }
.zxhd_08_con_div div:first-child img{ width:100%;vertical-align:middle;}

.lyys_09_top_title{line-height:48px; font-size:1.6rem; padding:0 1em;}
.lyys_09_bot{width:100%; display:table}
.lyys_09_bot p{display:table-cell}

.lqzs_14_top_tab{margin:0 1em; border:solid 1px #eb5405; border-radius:0.4em; overflow:hidden; background:#fff;}
.lqzs_14_top_tab span,.span_cur{width:50%; float:left; text-align:center; color:#eb5405; line-height:2.2em;}
.lqzs_14_top_tab .span_cur{background:#eb5405; color:#fff;}
.lqzs_14_con_title{font-size:1.8rem; color:#eb5405;}

.cjg_16_txt_sm{font-size:1.2rem;}
.cjg_16_txt_sm i{font-style:normal; color:#a8a8a8}
.cjg_16_btn_txt{font-size:1.2rem; color:#a8a8a8;}
/**********************************************�����banner**********************************************/
 /* flexslider */
.flexslider{position:relative;height:192px;overflow:hidden;;}
.slides{position:relative;z-index:1;}
.slides li{height:192px;}
.cplb_07_ban_d{position:absolute; bottom:0.5em; z-index:99; text-align:center; width:100%;}
.cplb_07_ban_d span{background:rgba(255,255,255,0.5); border-radius:5em; width:0.6em; height:0.6em; margin:0 0.3em;}
.cplb_07_ban_d .yuan_cur{background:rgba(255,255,255,1); }


/**********************************************������**********************************************/
.bdcg_top_h{ height:6em;}
@media screen and (max-height:480px){
	.bdcg_top_h{ height:3em;}
}
@media screen and (min-width:375px){
	.bdcg_top_h{ height:8em;}
}
.bdcg_top_tx{border:solid 1px #fff; border-radius:100em; width:36%;overflow:hidden; margin:0 auto; }
.bdcg_top_tx img{ width:100%; vertical-align:middle}
.bdcg_p_gx{font-size:3.8rem; color:#fff; padding-top:0.5em; line-height:1.2em;}
.bdcg_p_zt{font-size:1.7rem; color:#fff;}
.bdcg_p_bh{width:99%; margin:0 auto; padding-top:1em;}
.bdcg_p_bh span:nth-child(1){width:52%; text-align:right; color:#fff}
.bdcg_p_bh span:nth-child(2){width:48%; text-align:left; color:#fff}
.bdcg_p_wx{width:99%; margin:0 auto; padding-top:0.2em;}
.bdcg_p_wx span:nth-child(1){width:52%; text-align:right; color:#fff}
.bdcg_p_wx span:nth-child(2){width:48%; text-align:left; color:#fff}
.bdcg_btn_div{width:40%; margin:0 auto; margin-top:4em;}


.index_top_div{display:table; width:100%; text-align:center; padding-top:1.35em;}
.index_top_div .div_lef_xx{display:table-cell; width:27%; vertical-align:top;}
.index_top_div .div_middle_tx{display:table-cell; width:46%}
.index_top_div .div_middle_tx p:nth-child(1){font-size:2.2rem; color:#fff; line-height:1.2em; padding-top:0.3em;}
.index_top_div .div_middle_tx p:nth-child(2){font-size:1.3rem; color:#fff;}
.index_top_div .div_lef_mp{display:table-cell; width:27%; vertical-align:top}
.index_05_top_img_tx{border:solid 1px #fff; border-radius:100em; width:6em; height:6em;overflow:hidden; margin:0 auto; }
.index_05_top_xx{background:url(../img/index_icon_xx.png) top center no-repeat; background-size:2em 2em; padding-top:2.2em; color:#fff; font-size:1.3rem; margin-top:2em;}
.index_05_top_mp{background:url(../img/index_icon_mp.png) top center no-repeat; background-size:2.5em 2.5em; padding-top:2.3em; color:#fff; font-size:1.3rem; margin-top:1.9em;}

.index_05_foot_div{border-top:solid 1px #dddddd; height:49px; background:#fff}
.index_05_foot_index,.index_05_foot_customer,.index_05_foot_information,.index_05_foot_query,.index_05_foot_index_cur,.index_05_foot_customer_cur,.index_05_foot_information_cur,.index_05_foot_query_cur{width:25%; background:url(../img/index_icon_1.png) top 4px center no-repeat; background-size:25px 25px;padding-top:29px; color:#464646; text-align:center; font-size:1.3rem; float:left;}
.index_05_foot_customer{background:url(../img/index_icon_2.png) top 4px center no-repeat; background-size:25px 25px; color:#464646;}
.index_05_foot_information{background:url(../img/index_icon_3.png) top 4px center no-repeat; background-size:25px 25px;color:#464646;}
.index_05_foot_query{background:url(../img/index_icon_4.png) top 4px center no-repeat; background-size:25px 25px;color:#464646;}
.index_05_foot_index_cur{width:25%; background:url(../img/index_icon_1_cur.png) top 4px center no-repeat; background-size:25px 25px ;color:#eb5405}
.index_05_foot_customer_cur{width:25%; background:url(../img/index_icon_2_cur.png) top 4px center no-repeat; background-size:25px 25px ;color:#eb5405}
.index_05_foot_information_cur{width:25%; background:url(../img/index_icon_3_cur.png) top 4px center no-repeat; background-size:25px 25px ;color:#eb5405}
.index_05_foot_query_cur{width:25%; background:url(../img/index_icon_4_cur.png) top 4px center no-repeat; background-size:25px 25px ;color:#eb5405}
.index_05_con_ul{height:90%; overflow:hidden}
.index_05_con_ul li{ height:100%}
.index_05_con_div{}
.index_05_con_div div{width:33.33%; float:left; text-align:center;}
.index_05_con_div div img{ width:60%}
.index_05_con_mar_top{ margin-top:3em;}
.index_05_con_h{ height:1px;}
@media screen and (max-height:480px){
	.index_05_con_mar_top{ margin-top:2em;}
	.index_05_con_h{ height:1px;}
}
@media screen and (min-width:375px){
	.index_05_con_mar_top{ margin-top:2em;}
	.index_05_con_h{ height:2em;}
	.index_05_top_img_tx{border:solid 1px #fff; border-radius:100em; width:7em; height:7em;overflow:hidden; margin:0 auto; }
	.index_05_top_xx{background:url(../img/index_icon_xx.png) top center no-repeat; background-size:2em 2em; padding-top:2.2em; color:#fff; font-size:1.3rem; margin-top:2.8em;}
	.index_05_top_mp{background:url(../img/index_icon_mp.png) top center no-repeat; background-size:2.5em 2.5em; padding-top:2.3em; color:#fff; font-size:1.3rem; margin-top:2.7em;}
}
@media screen and (min-width:414px){
	.index_05_con_mar_top{ margin-top:3.7em;}
	.index_05_con_h{ height:2em;}
}
.product_nav { width:5.2em; position:absolute; bottom:50px; margin-bottom:1em; margin-left:-2.6em; left:50%; text-align:center}
.product_nav:after { clear:both;}
.nav { width:.5em; height:.5em; background:#bbbbbb;margin:0 .1em; border-radius:1em; -webkit-border-radius:1em; -moz-border-radius:1em;}
.nav.push { background:#ea5b24;}


.wdmp_08_top{height:120px; background: #eb5405 url(../img/bg_logo.png) bottom right 0.5em no-repeat; background-size:5em 3.8em; width:100%;}
.wdmp_08_top_div{width:100%; background:url(../img/icon_progress_bar_gray.png) repeat-x; background-size:100% 100%; height:35px;}


.wdmp_08_top_div_con,.wdmp_08_top_div_con_yes{width:33.3333%; text-align:center; float:left}
.wdmp_08_top_div_con span{background:url(../img/icon_progress_bar_y_gray2.png) no-repeat; background-size:100% 100%; width:16px; height:17px; margin-top:9px; color:#464646; font-size:0.8rem; line-height:18px;}
.wdmp_08_top_div_con p{ color:#464646; font-size:0.8rem; padding-top:0.5em;}
.wdmp_08_top_div_con_yes span{background:url(../img/icon_progress_bar_y_gray_y.png) no-repeat; background-size:100% 100%; width:16px; height:17px; margin-top:9px; font-size:0.8rem; text-align:center; color:#fff; line-height:18px;}
.wdmp_08_top_div_con_yes p{font-size:0.8rem; color:#eb5405; padding-top:0.5em;}
.wdmp_08_con_div{ background:#fff; border-bottom:solid 1px #dedede}
.wdmp_08_con_div .title_div{padding:1em 1em; border-bottom:solid 1px #dedede;}
.wdmp_08_con_div .title_div .next_span_gray{background:url(../img/icon_next.png) no-repeat; background-size:100% 100%; width:1.2em; height:1.2em; float:right; margin-top:0.2em; position:absolute; right:1em;}
.wdmp_08_con_div .title_div .img_span{width:3.5rem; height:3.5rem; float:right; border-radius:100em; overflow:hidden; position:absolute; right:2.7em; margin-top:-0.55em}
.wdmp_08_con_div .title_div .qr_span{width:3.5rem; height:3.5rem; float:right;overflow:hidden; position:absolute; right:2.7em; margin-top:-0.75em}
.wdmp_08_table{ width:100%; text-align:left}
.wdmp_08_table .tr_border_bt{ border-bottom:solid 1px #ccc;}
.wdmp_08_table tr th{ white-space:nowrap; padding:0.3em 0.2em;}
.wdmp_08_table tr td{ padding:0.3em 0.2em}
.wdmp_08_table tr td .close_span{background:url(../img/icon_cancel.png) no-repeat; background-size:100% 100%; width:1.1em; height:1.1em; margin-left:-1.2em; margin-bottom:-0.3em}
.wdmp_08_con_grfc{padding:1em 1em; border-bottom:solid 1px #dedede;}
.wdmp_08_con_photo_m{margin:0 3.9%}
.wdmp_08_con_photo_m_4{ margin-left:2%}
.wdmp_08_con_photo{width:30%; float:left; border:solid 1px #dedede; border-radius:0.3em; text-align:right}
.wdmp_08_con_photo_4{width:22%; float:left; border:solid 1px #dedede; border-radius:0.3em; text-align:right}
.wdmp_08_con_photo div{overflow: hidden; margin:3px;}
.wdmp_08_con_photo_4 div{overflow: hidden; margin:3px;}
.wdmp_08_con_photo_close{background:url(../img/icon_cancel_bg_w.png) no-repeat; background-size:100% 100%; width:1.4em; height:1.4em; position:absolute;margin-top:-0.5em; margin-left:-0.8em;}
.wdmp_08_con_new_photo{background:#dedede url(../img/icon_new.png) no-repeat center center; background-size:50% 50%;}
.wdmp_08_con_textarea{width:100%; border:none; height:85px;}
.wdmp_08_con_ul{height:90%; overflow:hidden}
.wdmp_08_con_ul li{ height:100%; padding-top:1em;}
.wdmp_08_con_ul_div{}
.wdmp_08_con_ul_div div{width:25%; float:left; text-align:center;}
.wdmp_08_con_ul_div div img{ width:60%}
.wdmp_08_con_ul_div p{ color:#eb5405}


.cxjg_10_top_p{font-size:3rem; color:#eb5405}
.cxjg_10_con_div{background:#fff; padding:1em;}
.cxjg_10_con_div .icon_next_span{background:url(../img/icon_next.png) no-repeat; background-size:100% 100%; width:1em; height:1em; float:right; margin-top:0.2em}
.cxjg_10_con_div .p_name{margin-right:1.5em;}
.cxjg_10_con_div .p_37name{margin-right:1em;}
.cxjg_10_con_div .p_37img{width:2.3em; height:2.3em; overflow:hidden; border-radius:10em; margin-top:-0.4em; margin-bottom:-0.4em; vertical-align:middle;}
.cxjg_10_con_div strong{position:absolute;left:70%; font-weight:normal;}

.wdcx_13_con_div{border-bottom:solid 1px #dedede; border-top:solid 1px #dedede; padding:0.7em 1em;}
.wdcx_13_con_div b{background:url(../img/icon_next.png) no-repeat; background-size:100% 100%; width:1.2em; height:1.2em; float:right; margin-top:0.55em;}
.wdcx_13_con_div i{vertical-align:middle; margin-left:0.5em; font-style:normal;}
.wdcx_13_con_div .menu_yj ,.menu_kh ,.menu_bd ,.menu_fa{background:url(../img/icon_menu_1.png) no-repeat; background-size:100% 100%; width:2.2em; height:2.2em; vertical-align:middle}
.menu_kh{background:url(../img/icon_menu_2.png) no-repeat; background-size:100% 100%;}
.menu_bd{background:url(../img/icon_menu_3.png) no-repeat; background-size:100% 100%;}
.menu_fa{background:url(../img/icon_menu_4.png) no-repeat; background-size:100% 100%;}
.falb_13_con_div{border-bottom:solid 1px #dedede; border-top:solid 1px #dedede; padding:1em;}
.falb_13_con_div b{background:url(../img/icon_next_org.png) no-repeat; background-size:100% 100%; width:1.2em; height:1.2em; float:right; margin-top:0.15em;}
.falb_13_con_div i{font-style:normal; color:#eb5405}

.faleib_13_faleib_table{ text-align:center}
.faleib_13_faleib_table thead tr td{ white-space:nowrap; padding:0.5em}
.faleib_13_faleib_table tbody{ font-size:1.2rem;}
.faleib_13_faleib_table tbody tr:nth-child(odd){ background-color:#ebebeb}
.faleib_13_faleib_table tbody tr th{ border-right:solid 1px #dedede; white-space:nowrap; padding:0.5em}
.faleib_13_faleib_table tbody tr td{ line-height:2em; white-space:nowrap; padding:0.5em}
.faleib_13_faleib_table tbody tr td b{ color:#F60}
.faleib_13_faleib_table2{ text-align:center;}
.faleib_13_faleib_table2 tr td{ white-space:nowrap; padding:0.5em;}

.yjys_14_top_div1{width:50%; float:left; text-align:center; padding:34px 0;}
.yjys_14_top_div1 span{background:url(../img/icon_top_yjs_cur.png) no-repeat; background-size:100% 100%; width:6em; height:6em; display:inline-block;}
.yjys_14_top_div1 strong{background:url(../img/icon_triangle.png) no-repeat; background-size:100% 100%; width:1.5em; height:1em; position:absolute; margin-top:2em; margin-left:-0.8em;}
.yjys_14_top_div_new1{width:50%; float:left; text-align:center; padding:34px 0;}
.yjys_14_top_div_new1 span{background:url(../img/icon_top_yjs.png) no-repeat; background-size:100% 100%; width:6em; height:6em; display:inline-block;}
.yjys_14_top_div_new1 strong{ display:none}
.yjys_14_top_div2{width:50%; float:left; text-align:center; padding:34px 0;}
.yjys_14_top_div2 span{background:url(../img/icon_top_wjs_cur.png) no-repeat; background-size:100% 100%; width:6em; height:6em; display:inline-block;}
.yjys_14_top_div2 strong{background:url(../img/icon_triangle.png) no-repeat; background-size:100% 100%; width:1.5em; height:1em; position:absolute; margin-top:2em; margin-left:-0.8em;}
.yjys_14_top_div_new2{width:50%; float:left; text-align:center; padding:34px 0;}
.yjys_14_top_div_new2 span{background:url(../img/icon_top_wjs.png) no-repeat; background-size:100% 100%; width:6em; height:6em; display:inline-block;}
.yjys_14_top_div_new2 strong{ display:none}
.yjys_14_top_title{margin-left:1em; color:#fff; margin-top:0.5em; position:absolute}
.yjys_14_table_dx{}
.yjys_14_table_dx p{border:solid 1px #000000; border-radius:0.7em; text-align:center; width:4em; line-height:24px; display:inline-block}
.yjys_14_table_dx .p_dx_cur{border:solid 1px #eb5405; background:#eb5405; color:#fff; border-radius:0.7em; text-align:center; width:4em; line-height:24px; display:inline-block}
.yjys_14_bottom{font-size:0.9rem; height:25px;}
.yjys_14_bottom i{font-style:normal; color:#a8a8a8}

.bdmx_19_div{background:#fff; border-top:solid 1px #dedede; border-bottom:solid 1px #dedede;}
.bdmx_19_div .title_yjy{border-bottom:solid 1px #dedede; padding:0.7em 1em; color:#eb5405}
.bdmx_19_div .title_fjxlb{border-bottom:solid 1px #dedede; padding:0.7em 1em;}
.bdmx_19_div .con_top{padding-left:1em;}
.bdmx_19_div .con_top div{border-bottom:solid 1px #dedede; padding:0.7em 1em 0.7em 0}
.bdmx_19_div .con_top div span{ float:right}
.bdmx_19_div .con_top div p{ line-height:1.8em;}
.bdmx_19_div .bdmx_con_rq{padding:0 1em;}
.bdmx_table{ width:100%}
.bdmx_table tr td{ white-space:nowrap; text-align:left; line-height:25px;}
.bdmx_table tr th{ text-align:right;line-height:25px;}

@media screen and (max-width:320px){
	.bdmx_19_div .con_top div{border-bottom:solid 1px #dedede; padding:0.7em 1em 0.7em 0; font-size:1.25rem;}
	.bdmx_19_div .con_top div span{ float:right}
	.bdmx_table{ width:100%; font-size:1.23rem;}
	.bdmx_19_div .con_top div p{ line-height:1.8em; font-size:1.23rem;}
}

.bdlb_21_div{background:#fff; border-top:solid 1px #dedede; border-bottom:solid 1px #dedede; padding-left:1em;}
.bdlb_21_div .titile_p{border-bottom: solid 1px #dedede; padding:0.7em 1em 0.7em 0;}
.bdlb_21_div .titile_p span{ float:right; color:#eb5405}
.bdlb_21_div_con{padding-right:1em;}
.bdlb_21_div_con p{ line-height:22px}
.bdlb_21_div_con div{ line-height:22px}
.bdlb_21_div_con .div_f_w45{float:left; width:45%}
.bdlb_21_div_con .div_f_w55{float:left; width:55%}

.wckh_23_top_div{}
.wckh_23_top_div .top_p_time{color:#a8a8a8; padding:0.5em 0; font-size:1.2rem;}
.wckh_23_top_div .img_div_tx{width:20%; border-radius:100em; overflow:hidden; margin:0 auto;}
.wckh_23_top_div .con_p_name{padding-top:0.5em;}
.wckh_23_top_div .bot_star_div{}
.wckh_23_top_div .bot_star_div span{background:url(../img/icon_star.png) no-repeat; background-size:100% 100%; width:0.7em; height:0.7em; margin:0 0.1em;}
.wckh_23_top_div .bot_star_div .span_star_cur{background:url(../img/icon_star_cur.png) no-repeat; background-size:100% 100%;}
.wckh_23_con_table{display:table; width:100%;}
.wckh_23_con_table .one_cell_div{display:table-cell; width:33.33%; background:url(../img/bg_xt.png) right no-repeat; background-size:1px 2.5em; padding-left:1em; padding-top:0.7em; padding-bottom:0.7em;}
.wckh_23_con_table .two_cell_div{display:table-cell; width:33.33%; padding-left:7%;padding-top:0.7em; padding-bottom:0.7em;}
.wckh_23_con_table .three_cell_div{display:table-cell; width:33.33%; background:url(../img/bg_xt.png) left no-repeat; background-size:1px 2.5em; padding-right:1em;padding-left:7%;padding-top:0.7em; padding-bottom:0.7em;}
.wckh_23_con_table .p_txt_fraction{ font-size:2rem;}

.hdjs_26_top_div{background: #eb5405 url(../img/bg_bottom.png) repeat-x bottom left; background-size:0.8em 0.5em;}
.hdjs_26_top_div .img_div_txt{height:13em;}
.hdjs_26_top_div .img_div_txt div{color:#fff; font-size:4rem; padding-top:1em;}
.hdjs_26_top_div .img_div_txt p{color:#fff; font-size:2.5rem;}
.hdjs_26_top_div_con{padding:1em}
.hdjs_26_top_div_con .div_con_table{display:table; width:100%;}
.hdjs_26_top_div_con .div_con_table .con_left_div{display:table-cell; width:47%; vertical-align:middle;}
.hdjs_26_top_div_con_f_bo{background:#fff; border-radius:100em; width:1.6rem; height:1.6rem; line-height:1.6rem; text-align:center; color:#F60; vertical-align:text-bottom;}
.hdjs_26_top_div_con_value{ font-size:3rem; vertical-align:text-bottom; line-height:2rem; color:#fff;}
.hdjs_26_top_div_con .div_con_table .con_right_div{display:table-cell; width:53%}
.hdjs_26_top_div_con .div_con_table .con_right_div .txm_p{color:#fff; font-size:1.2rem; padding-top:0.5em;}
.hdjs_26_foot_div{border-top: dotted 1px rgba(255,255,255,0.4); padding:1em}
.hdjs_26_foot_table{display:table; width:100%;}
.hdjs_26_foot_table .foot_left_div{display:table-cell; width:47%; color:#fff; vertical-align:middle;}
.hdjs_26_foot_table .foot_right_div{display:table-cell; width:53%;}
.hdjs_26_foot_table .foot_right_div p:nth-child(1){color:#fff; font-size:1.2rem;}
.hdjs_26_foot_table .foot_right_div p:nth-child(2){color:#fff; font-size:1.2rem;}
.hdjs_26_icon_time{background:url(../img/icon_time.png) no-repeat; width:1em; height:1em; background-size:100% 100%; margin-top:0.3em; margin-right:0.5em;}
.hdjs_26_icon_ticket{background:url(../img/icon_ticket.png) no-repeat; width:1em; height:1em; background-size:100% 100%; margin-top:0.3em; margin-right:0.5em;}
.hdjs_26_con{padding:1em 1em;}
.hdjs_26_con h2{font-size:1.4rem;}
.hdjs_26_con p{font-size:1.3rem;}

.qbzs_top_tab{margin:0 1em; border:solid 1px #eb5405; border-radius:0.4em; overflow:hidden}
.qbzs_top_tab span,.span_zx_cur{width:50%; float:left; text-align:center; color:#eb5405; line-height:30px;}
.qbzs_top_tab .span_zx_cur{background:#eb5405; color:#fff;}
.qbzs_top_display{margin:0 1em;}
.qbzs_top_display div{float:left; text-align:center; width:33.1%}
.qbzs_top_display div span{ font-size:1.6rem;}
.qbzs_top_display div .org_span{ color:#eb5405}
.qbzs_top_display div:nth-child(2){float:left; text-align:center; width:33.1%; border-right:solid 1px #dedede; border-left:solid 1px #dedede;}

.zx_top_tab{background:url(../img/img_hd_1.jpg) no-repeat; background-size:100% 100%; height:13em;}
.zx_top_tab_bg{background:rgba(255,255,255,0.6); padding:1em 0}
.zx_38_top_div{padding:2em 0; background:#fff;}
.zx_38_top_div div{width:25%; border-radius:100em; margin:0 auto; overflow:hidden}
.zx_38_con_pd{padding-right:1em;}
.zx_38_con_bor_bt{border-bottom:solid 1px #dedede; margin:0 1em;}
.zx_38_con_div{ border-top:none}
.zx_38_con_div_b{ border-bottom:none}


.gsdt_42_con_div{padding-left:1em;}
.gsdt_42_ul{100%}
.gsdt_42_ul li{border-bottom:solid 1px #ccc;padding:0.5em 1em 0.5em 0;}
.gsdt_42_ul li .next_span{background:url(../img/icon_next.png) no-repeat; background-size:100% 100%; width:1.2em; height:1.2em; float:right; margin-top:0.8em;}
.gsdt_42_ul li .txt_p1{width:90%;}
.gsdt_42_ul li .txt_p1 .label_span{font-size:1rem; background:#ff0000; color:#fff; padding:0 0.3em; border-radius:0.5em;}
.gsdt_42_ul li .txt_p1 .label_span span{border-left:0.4em solid transparent;border-right:0.4em solid transparent;border-bottom:0.4em solid #ff0000;-webkit-transform:rotate(-90deg); margin-left:-0.6em; margin-top:0.6em; position:absolute;}
.gsdt_42_ul li .txt_p2{font-size:1.2rem; color:#a8a8a8;}

.dtxq_43_div{ padding:0 1em;}
.dtxq_43_div h2{ font-size:2.3rem; font-weight:normal}
.dtxq_43_div small{ color:#ccc;}
.dtxq_43_div h3{ font-size:1.4rem; line-height:1.8em;}
.dtxq_43_div p{ text-indent:2.6rem; line-height:1.8em;}
.dtxq_43_div .div_hr{ border-bottom:solid 1px #dedede;}

.fafl_top_tab{margin:0 1em; border:solid 1px #eb5405; border-radius:0.4em; overflow:hidden}
.fafl_top_tab span,.span_gs_cur{width:33.1%; float:left; text-align:center; color:#eb5405; line-height:30px;}
.fafl_top_tab span:nth-child(2){ border-left:1px solid #eb5405; border-right:1px solid #eb5405;}
.fafl_top_tab .span_gs_cur{background:#eb5405; color:#fff;}

@media screen and (min-width:414px){
	.fafl_top_tab span:nth-child(3){width:33.27%; float:left; text-align:center;line-height:30px;}
}

/*******cpfl_06_fz********************/
.cpfl_06_ul_fz{ width:100%}
.cpfl_06_ul_fz_li{background:#fff;padding:0.9em 1em; color:#eb5405}
.cpfl_06_ul_fz_li span{background:url(../img/icon_spread_org.png) no-repeat; background-size:100% 100%; width:1em; height:1em; float:right; margin-top:0.35em;}
.cpfl_06_ul_fz_li_cur{background:#eb5405; color:#fff;padding:0.9em 1em;}
.cpfl_06_ul_fz_li_cur span{background:url(../img/icon_furl_w.png) no-repeat; background-size:100% 100%; width:1em; height:1em; float:right; margin-top:0.35em;}

/**************hyy**************/
.hyy_txt_div{font-size:3rem; position:absolute; top:50%;line-height:3rem; margin-top:-1.5rem; text-align:center; width:100%; letter-spacing:4px; font-family:"����";}
.hyy_logo_div{position:absolute; margin-top:-3em; width:100%; text-align:center}
.hyy_logo{background:url(../img/hyy_logo.png) no-repeat; background-size:100% 100%; width:3em; height:3em;}
